<div class="hero-header">
  <div id="header-img">
    <img src="{{site.baseurl}}/assets/img/{{ page.header_image }}" alt="" class="img-fluid">
    <h1 class="text-white mb-4">{{ page.header_text }}</h1>
  </div>

  <header id="page-header" class="hero-header">
    <div id="intro-section" class="container">
      <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2 order-2 order-sm-1">
          <div class="intro-text" >
            <div>{{ page.hero | markdownify }}</div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
