<meta property="og:type" content="website">
<meta property="og:title" content="Digital Skills Detroit">
<meta property="og:url" content="https://digital-detroit.p2pu.org/">
<meta property="og:image" content="https://digital-detroit.p2pu.org/assets/img/og-logo.png">
<meta property="og:description" content="Unlock the power of technology and gain the skills you need for today’s digital world. The Digital Skills Detroit Program offers free, hands-on training to help you learn essential computer and internet skills, improve your job search and career opportunities, safely navigate the online world and stay connected with family and your community. Whether you’re a beginner or looking to enhance your tech knowledge, our program provides resources and support for every skill level. Open to all Detroit residents! Join us and take the first step toward a brighter, more connected future.">
