---
layout: base
---
<div class="page-wrapper">

  {% include {{page.header}} page=page %}

  <section id="learning-circles" class="container search">
    <div class="row">
      <div class="col-12 mb-3">
        <h1>{{ page.search_title }}</h1>
      </div>
    </div>
    <div id="learning-circle-search"></div>

    <div class="mt-3"><a class="btn btn-sm p2pu-btn orange secondary" href="https://docs.google.com/forms/d/e/1FAIpQLSd8WRlz_UXm2cv1S_XVWHizUtH4oVdzTHnB3tW9cEtf0I4KBw/viewform?usp=sf_link">Sign up</a> to hear about future learning circles happening in Detroit</div>
  </section>

  <section id="facilitators" class="container search">
    <div class="row">
      <div class="col-12 mb-3">
        <h1>Facilitators</h1>
      </div>
    </div>
    <div id="team-facilitators"></div>
  </section>
  
</div>
<!-- -->

